In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

# 텐서플로 라이브러리 안에 있는 케라스API에서 필요한 함수 호출
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Activation

from sklearn.metrics import accuracy_score

In [2]:
# 데이터 가져오기
Data_set = pd.read_csv('/content/drive/MyDrive/부산대 AI/12W_딥러닝/data/ThoraricSurgery.csv', header=None)
Data_set
# 환자의 진찰 내용을 X
# 결과를 y
X = Data_set.drop(17, axis = 1)
y = Data_set[17]

display(X)
display(y)

      0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16
0    293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62
1      1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60
2      8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66
3     14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80
4     17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56
..   ...  ..   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
465   98   6  3.04  2.40   2   0   0   0   1   0  11   0   0   0   1   0  76
466  369   6  3.88  2.72   1   0   0   0   1   0  12   0   0   0   1   0  77
467  406   6  5.36  3.96   1   0   0   0   1   0  12   0   0   0   0   0  62
468   25   8  4.32  3.20   0   0   0   0   0   0  11   0   0   0   0   0  58
469  447   8  5.20  4.10   0   0   0   0   0   0  12   0   0   0   0   0  49

[470 rows x 17 columns]

0      0
1      0
2      1
3      1
4      0
      ..
465    0
466    0
467    0
468    1
469    0
Name: 17, Length: 470, dtype: int64

In [9]:
# 딥러닝 모델의 구조 

# 여기에 층을 쌓아줌.
# 신경망 설계 - 신경망 모델을 관리하는 객체를 생성.
model = Sequential() # model.add() 층을 만들겠다.

# 층을 쌓는 부분.
# 케라스는 은닉층과 출력층만 설정.
# 첫번째 은닉층을 설정할 때 input_dim을 통해 입력층의 노드 수를 설정.
# 첫번쨰 Dense 은닉층 + 입력층 역할

# 입력층의 수, 노드 수는 입력데이터와 일치.
# 은닉층의 노드 수는 정해진 규칙은 없다.
# 많으면 학습시간이 오래 걸리지만 학습을 잘 하게 되고, 너무 학습을 많이 하게 되면 불필요하게 시간이 오래 걸릴 수 있다.

# Dense : 레이어 내의 모든 노드들은 선형회귀를 수행.
# 활성화 함수
# relu : 역전파 및 경사하강법 수행시 가중치 소실이 발생하지 않도록 예방하기 위한 함수.

model.add(Dense(30 , input_dim = 17, activation='relu')) # 폐암수술환자 데이터 입력값이 17개 받아 은닉층 노드 30개 만들겠다.

# 마지막은 출력층
# 출력층의 노드의 개수는 예측하고자 하는 값의 수와 일치.
# ex) 출력해야하는 결과가 키, 몸무게 일경우 , 출력층 노드는 2개
model.add(Dense(1))

# 활성화 함수
# 출력층의 활성화 함수는 최종 결과를 계산하기 위해 사용
# 이진 분류 : sigmoid
# 다중 분류 : softmax
# 회귀 : 없음(안넣어도 댐)
model.add(Activation('sigmoid'))

In [10]:
# 딥러닝 모델 설정

# loss : 학습 시 수행하는 평가때 사용할 손실함수 / 진짜 결과와 예측 결과의 오차 확인
# 이진분류 : binary_crossentropy
# 다중분류 : categoricla_crossentropy 
# 회귀 : mean_squared_error / 얼마나 오차가 났는지 , 오차를 최소화 시키는게 목표

# optimizer =  : (경사하강법) loss 에서 설정한 함수를 통해 구한 손실값을 기반으로 신경망 모델을 보정하는 함수
# adam

# metrics = [] : 추가로 평가하고자 하는 평가 기준을 설정.
# 모델이 컴파일될 때 모델 수행의 결과를 나타내게 설정.
# accuracy : 학습셋에 대한 정확도에 기반해 결과를 출력하라 !! 란 의미.
# 분류인 경우에만 사용하고 정도화를 추가적으로 보기위해 설정한다.
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 30)                540

 dense_3 (Dense)             (None, 1)                 31

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [11]:
# 딥러닝 모델 실행
model.fit(X, y, epochs=5, batch_size = 17)
# 470명의 환자에게서 17개의 정보를 정리
# 16개의 정보 → 속성
# 각 환자 정보 → 샘플
# 샘플을 처음부터 끝까지 epochs=5 5번 실행 반복

Epoch 1/5
28/28 [==============================] - 1s 3ms/step - loss: 8.6905 - accuracy: 0.8511
Epoch 2/5
28/28 [==============================] - 0s 2ms/step - loss: 4.7149 - accuracy: 0.8447
Epoch 3/5
28/28 [==============================] - 0s 2ms/step - loss: 1.3973 - accuracy: 0.7681
Epoch 4/5
28/28 [==============================] - 0s 2ms/step - loss: 0.5888 - accuracy: 0.7979
Epoch 5/5
28/28 [==============================] - 0s 2ms/step - loss: 0.4850 - accuracy: 0.8170